---
layout: page
title: Apply
mainclass: text-justify mb-2
---
<p>We don't have a lot of strict rules, our main goal is to have fun together, not run a dictatorship. However, general
  etiquette,
  decency and maturity is expected.</p>
<p>
  <strong>Racial, religious, sexual and/or any other type of discrimination will not be tolerated, even as
    jokes.</strong>
</p>
<p>If you came here from a forum or reddit post, then you have read about our guild and know what we expect from you. If
  not, then you need to read below before applying!</p>
<p><strong>Warning: We are currently closed to applications!</strong></p>
<div class="text-center">
  <button class="btn btn-outline-dark text-center" type="button" data-toggle="collapse" data-target="#RecruitInfo"
    aria-expanded="false" aria-controls="collapseExample">Read the recruitment post</button>
</div>

<div class="collapse" id="RecruitInfo">
  <script src="https://gist.github.com/pen-mb/629cf4c1a0d887824b5e0125e27b53dc.js"></script>
</div>

<form name="Apply" netlify>
  <div class="form-group">
    <label class="form-control-label">
      <input type="checkbox" class="form-check-label" name="Being Active" value="Agreed" required>
      I understand and accept the rules.
    </label>
  </div>
  <div class="form-group">
    <label class="form-control-label">
      <input type="checkbox" class="form-check-label" name="Kick Rule" value="Agreed" required>
      I understand I will be kicked if I'm offline for over 3 months without a notice.
    </label>
  </div>
  <div class="form-group">
    <label class="form-control-label">
      <input type="checkbox" class="form-check-label" name="Server" value="EU" required>
      I play on European servers.
    </label>
  </div>
  <div class="form-row">
    <div class="col">
      <label class="form-control-label" for="Account Name">Account Name:</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="Account Name" placeholder="Player.1234" required>
    </div>
  </div>
  <div class="form-group">
    <label for="User Message">(Optional) Here's some info about myself:</label>
    <textarea class="form-control" name="User Message" rows="3"></textarea>
  </div>
  <button disabled type="submit" class="btn btn-dark">Apply!</button>
</form>
