---
layout: page
title: Blog
mainclass: text-center
---
<div class="list-group">
  <div class="d-flex flex-row-reverse">
    <a href="https://fortunateones.tk/admin" class="text-right">Admin Panel</a>
  </div>
  {% for post in site.posts %}
    <a href="{{ post.url }}" class="list-group-item list-group-item-action">
      {{ post.title}} - <small>{{ post.date | date: "%d %B %Y" }}</small>
    </a>
  {% endfor %}
</div>
