---
layout: page
title: Feedback
mainclass: text-justify mb-2
---
<div>
  <p>Want to give us your feedback? Use the text area below and reach us anonymously!</p>
</div>

<form name="Feedback" netlify>
  <div class="form-group">
    <label for="User Feedback">Your feedback:</label>
    <textarea placeholder="Please keep it civil and constructive" class="form-control" id="User Feedback" name="User Feedback"
      rows="3"></textarea>
  </div>
  <div data-netlify-recaptcha></div>
  <button type="submit" class="btn btn-dark">Send</button>
</form>
