---
layout: page
title: Home
mainclass: text-center
---
<p class="lead">Hello traveler! [Fo] is a relaxed, cozy & friendly, PvE focused guild.</p>
<div class="card-group ">
  <div class="card text-center mb-2 border-dark">
    <div class="card-body">
      <h4 class="card-title">Events and Contests</h4>
      <hr>
      <p class="card-text">From meta events to screenshot contests to special celebrations, we do all sorts of fun, casual
        activities!
      </p>
    </div>
  </div>
  <div class="card text-center mb-2 border-dark">
    <div class="card-body">
      <h4 class="card-title">Dungeons</h4>
      <hr>
      <p class="card-text">They are fun but PUG's can be annoying. The 5 man content is much better when you have people
        you can communicate with!
      </p>
    </div>
  </div>
  <div class="card text-center mb-2 border-dark">
    <div class="card-body">
      <h4 class="card-title">Giveaways</h4>
      <hr>
      <p class="card-text">We are fortunate and generous! Everyone can create their own giveaways, small or big, via our
        Discord bot.
      </p>
    </div>
  </div>
</div>
<!-- Card Group -->

<div class="card-group">
  <div class="card text-center mb-2 border-dark">
    <div class="card-body">
      <h4 class="card-title">Something is Missing?</h4>
      <hr>
      <p class="card-text">Have some cool idea? Do it! We encourage you to create your own fun little events and announce
        it on our Discord for everyone to join!
      </p>
    </div>
  </div>
</div>
