/* STICKY FOOTER */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
  background-color: $fortunebg;
}

header {
  background-color: $fortune
}

a.nav-link {
  font-size: 1.3rem
}

.blog img {
  width: 50%;
}

