<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">

<head>
  <link href="/styles/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
  <meta charset="utf-8">
  <!-- If IE use the latest rendering engine -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Muhammed Bacalan">
  <meta name="description" content="Fortunate Ones - A GW2 Guild">
  <link rel="shortcut icon" type="/image/png" href="/images/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Share+Tech+Mono" rel="stylesheet">
  <title>Fortunate Ones - {{ page.title }}</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  <header>
    <div class="container header clearfix">
      <img class="d-none d-md-none d-lg-block float-left" src="/images/guildemblem.png" alt="Guild's emblem">
      <img class="d-none d-sm-none d-md-block float-right" src="/images/guildemblem.png" alt="Guild's emblem">
      <h1 class="text-center pt-5 display-4">Fortunate Ones</h1>
      <hr class="m-0">
    </div>
  </header>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-0 pb-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <ul class="navbar-nav">
        <li {% if page.title=="Home" %}class="active" {% endif %} class="nav-item">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li {% if page.title=="Blog" %}class="active" {% endif %} class="nav-item">
          <a class="nav-link" href="/blog.html">Blog</a>
        </li>
        <li {% if page.title=="Apply" %}class="active" {% endif %} class="nav-item">
          <a class="nav-link" href="/apply.html">Apply</a>
        </li>
        <li {% if page.title=="Feedback" %}class="active" {% endif %} class="nav-item">
          <a class="nav-link" href="/feedback.html">Feedback</a>
        </li>
      </ul>
    </div>
  </nav>

  {{ content }}

  <script src="/scripts/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <script src="/scripts/bootstrap.min.js"></script>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>

</body>

</html>
