---
layout: page
---
<div class="card-group blog">
  <div class="card text-center mb-2 border-dark">
    <div class="card-body">
      <h3 class="card-title">{{ page.title }}</small></h3>
      <p class="card-text">{{ content }}</p>
    </div>
  </div>
</div>
